.d-flex {
  display: flex;
}
.justify-content-sb {
  justify-content: space-between;
}
.justify-content-c {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.flex-direction-rr {
  flex-direction: row-reverse;
}
.flex-w {
  flex-wrap: wrap;
}
.pad-br-disable {
  display: none;
}
